* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --darkPurple: #331436;
    --darkTerraCotta: #CB4F57;
    --blond: #FCF4B6;
    --blondOpacity: rgba(252, 244, 182, 0.5);
    --fadeText: rgba(0, 0, 0, 0.5);
    --fadeBorder: rgba(0, 0, 0, 0.1);
    --pansyPurple: #7A1745;

}

body {
    font-family: "Roboto", sans-serif;
}

a { 
    text-decoration: none;
}